BACKEND_PRIVATE_KEY_HEX=your_backend_private_key_hex_here
BACKEND_PUBLIC_KEY_HEX=your_backend_public_key_hex_here
HARDCODED_PRIVATE_KEY_HEX=your_hardcoded_private_key_hex_here
HARDCODED_PUBLIC_KEY_HEX=your_hardcoded_public_key_hex_here
HARDCODED_ADDRESS=your_hardcoded_address_here
